<h1 class='center'>Memory Match</h1>


<div class='row'>

	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>


	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>

	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>

	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>
	<div class='col s3 grid-cell'>
	</div>

</div>